/*example stylesheet*/
p {
    color: black;
    overflow: hidden;
}

nav {
    background-color: #5b60a2;
    overflow: hidden;
    white-space: nowrap; /* Ensure the nav bar is one line */
    display: flex; /* Make nav a flex container */
    align-items: center; /* Vertically align items in nav */
    justify-content: space-between; /* Space out links and search bar */
    padding: 0 10px; /* Add padding to the sides */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0; /* Remove default margins */
}


nav a {
    display: inline-block; /* Ensure the links are on the same line */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5b60a2;
    color: white;
    text-align: center;
    padding: 10px 0;
}